/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.couleur {
    color: var(--main-color);
}

body, .header, #filtres, .hebergements-et-populaires, .hebergements-cartes, .populaires-cartes, .populaires-titre, .conteneur-activites, .footer {
    display: flex;
}

body {
    justify-content: center;
}

.conteneur-principal {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 5.56%;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}


/*********header***********/
.header {
    height: 79px;
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 92px;
}

.logo img {
    width: 62px;
    height: 19px;
    margin: 24.2%;
}

.header .menu nav ul {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    padding-bottom: 5px;
}

.menu ul{
    margin: 0px;
    display: flex;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

.menu li :hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 13px;
}

/******alignement du main sur le logo******/
main {
    margin-left: 10px;
}

/********* Presentation et recherches **********/

h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

h1+p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.presentation {
    margin-bottom: 2.5%;
}

.section-titre {
    margin: 0;
    font-size: 22px;
}

/*****partie formulaire*****/
.formulaire-de-recherche {
    max-width: 377px;
    width: 100%;
    max-height: 49px;
    display: inline-flex;
}

.icone-position {
    border-radius: 15px 0px 0px 15px;
    background-color: #D9D9D9;
    height: 50px;
    width: 12.8%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icone-position i {
    color: black;
    font-size: 18px;
}

input {
    border: 1px #D9D9D9 solid;
    height: 47px;
    max-width: 190px;
    width: 100%;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

button {
    font-size: 18px;
    font-weight: 700;
    background-color:var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border: 1px var(--main-color) solid;
    padding: 15px;
    padding-top: 13px;
    min-width: 49px;
}

#loupe, #rechercher {
    color: white;
}

#loupe {
    display: none;
    border-radius: 15px;
}

/*****partie filtres*****/
#filtres {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

.titre-filtres {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    margin-right: 2%;
}
.grille-filtres {
    display: flex;
    flex-direction: row;
}
.filtre {
    height: fit-content;
    width: fit-content;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 19px 4px 19px;
    margin: 0px 5px 0px 5px;
}

.filtre:hover {
    background-color: var(--filter-bg-color);
}

.filtre i {
    width: 22px;
    height: 22px;
    padding: 5px 8px 0px 0px;
    color: var(--main-color);
}

.filtre i+p {
    display: inline-block;
}

/*****phrase d'information sous le formulaire*****/
.phrase-information {
    font-weight: 400;
    font-size: 16px;
    display: inline-flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-content: center;
}

.i-info {
    width: 24px;
    height: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    text-align: center;
}

.i-info i {
    color: var(--main-color);
}

.phrase-information p {
    line-height: 24px;
    padding-left: 8px;
}

/*****presentation generale des cartes des hotels*****/
.carte {
    background-color: white;
    border-radius: 20px;
    padding: 1.49%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
    font-weight: 700;
    padding-left: 3.34%;
}

.carte-sous-titre {
    font-size: 14px;
    font-weight: 400;
    padding-top: 2.86%;
    padding-left: 3.34%;
}

.euro {
    font-weight: 700;
}

.etoile-neutre {
    color: var(--main-bg-color)
}

.section-titre {
    font-size: 22px;
    font-weight: 700;
}

/****** Hebergements et Populaires (repartition sur la page, sauf mobile)***********/
.hebergements-et-populaires {
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 2.43%;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cartes .carte {
    display: flex;
    flex-direction: column;
    margin-top: 13.75%;
    max-height: 200px;
    max-width: 230px;
    height: 100%;
    width: 100%;
}

.hebergements-cartes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cartes img {
    height: 56%;
    border: 5px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cartes .carte-contenu {
    width: 217px;
    height: 44%;
    box-sizing: border-box;
    padding-left: 7px;
    margin-top: 8px;
}

.hebergements-cartes .carte-evaluation {
    margin-bottom: 2.39%;
    margin-top: 2.39%;
    padding-top: 5.72%;
    padding-left: 3.34%;
    color: var(--main-color);
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 2.02%;
    padding-top: 3.22%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cartes {
    flex-direction: column;
}

.populaires-titre {
    justify-content: space-between;
    align-items: center;
}

.populaires-titre i {
    color: var(--main-color);
}

.populaires-cartes .carte {
    display: flex;
    margin-top: 9.82%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 4.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 5.14%;
    margin-bottom: 2.06%;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
}

.populaires-cartes .carte-evaluation {
    margin-bottom: 2.57%;
    padding-left: 3.6%;
    color: var(--main-color);
}

/*************activités****************/
#activites {
    padding: 2.43%;
}

.conteneur-activites {
    gap: 2.2%;
}

#activites .section-titre {
    margin-bottom: 1.27%;
}

.carte-activites {
    background-color: white;
    border-radius: 20px;
    max-height: 439px;
    max-width: 284px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.carte-activites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}

a .carte-activites h3 {
    height: 15%;
    margin-top: 1%;
    padding-left: 3%;
    padding-top: 3%;
}

/*************footer****************/

.footer {
    background-color: var(--main-bg-color);
    margin-left: 0.81%;
    flex-wrap: wrap;
    width: inherit;
}

.footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.pied-de-page {
    width: 30%;
    padding: 1.62%;
}

.pied-de-page a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*****partie filtres******/
    .titre-filtres{
        margin-bottom: 0.5%;
        margin-right: 22%;
    }

    .filtre{
        margin-left: 0px;
        margin-top: 2%;
    }

    /********cartes des hotels**********/
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cartes {
        justify-content: space-around;
    }

    .hebergements-cartes .carte {
        max-width: 235px;
        max-height: 192px;
    }

    .populaires {
        width: 100%;
        margin-top: 7.343%;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        gap: 2%;
    }

    .populaires-cartes .carte {
        max-width: 261px;
        max-height: 136px;
    }

    .populaires-cartes .carte-titre {
        font-size: 14px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 13px;
    }

    .populaires-cartes .carte {
        padding: 0;
    }

    /*****zone des cartes activités******/

    .carte-activites{
        max-width: 199px;
        max-height: 274px;
    }

    a .carte-activites h3 {
        padding-top: inherit;
        padding-left: 7%;
        font-size: inherit;
        line-height: 15px;
    }
}

    /* Small devices (phones, less than 768px) */
    @media screen and (min-width:320px) and (max-width: 767px) {

        /********présentation générale**********/
        .conteneur-principal{
            padding: 0%;
        }

        main {
            margin-left: 0px;
        }

        /*******header******/

        .header{
            height: 119px;
        }

        .logo {
            width: 100%;
            height: 66%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
        }

        .logo img {
            margin: 0;
        }

        nav {
            width: 100%;
            height: 34%;
        }

        .menu ul {
            height: 100%;
            width: 100%;
        }

        .menu li {
            max-width: 50%;
            min-width: 50%;
            margin: 0;
        }

        .menu li a {
            height: 100%;
            border-bottom: 2px solid var(--main-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .menu li :hover {
            color: var(--main-color);
            border-bottom: 2px solid var(--main-color);
            border-top: none;
            padding-top: 0;
        }

        /******présentation********/ 

        .presentation{
            margin-top:16px;
            margin-bottom: 16px;
        }

        .presentation-et-recherche{
            margin-left: 1.956%;
            padding-left: 1.05%;
        }

            .presentation h1{
            padding-bottom: 7px;            
        }

        /*******barre de recherche********/

        .formulaire-de-recherche {
            max-width: 300px;
        }

        .icone-position{
            width: 50px;
        }

        input {
            position: absolute;
            margin-left: 50px;
            width: 210px;
            height: 48px;
        }

        #rechercher{
            display: none;
        }

        #loupe {
            display: block;
            margin-left: 182px;
            position: relative;
            box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
        }

        /******zone filtres******/

        #filtres {
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 2em;
        }

        .titre-filtres{
            margin-top: inherit;
            align-self: auto;
        }

        .grille-filtres{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 345px;
        }

        .i-info{
            display: block;
            block-size: 24px;
            padding: 2px;
        }

        .filtre{
            width: 120px;
            height: 30px;
            margin-bottom: 15px;
            font-size: 14px;
        }

        .phrase-information {
            margin-top: 1em;
        }

        /******hebergements et populaires******/

        .hebergements-et-populaires{
            flex-direction: column-reverse;
        }

        .populaires-titre {
            justify-content: center;
        }

        .populaires-titre .section-titre {
            margin-left: 4%;
            margin-right: 13%;
        }

        .populaires-cartes{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .populaires-cartes .carte{
            width: 285px;
        }

        .hebergements-et-populaires section {
            border-radius: unset;
            padding: 5% 0% 4% 0%;
            margin-top: 0;
        }

        #marseille {
            background-color: white;
            margin-top: 2%;
            padding-top: 1.5%;
        }

        #marseille .section-titre {
            display: flex;
            justify-content: center;
        }

        .hebergements-cartes {
            flex-direction: column;
            align-content: center;
        }

        .hebergements-cartes .carte {
            max-width: 320px;
            max-height: 200px;
        }

        .hebergements-cartes img  {
            max-width: 300px;
            max-height: 130px;
        }

        .hebergements-cartes .carte-evaluation {
            margin: 0;
            padding-top: 1.9%;
        }

        #marseille .afficher-plus {
            padding-left: 33%;
            margin-top: unset;
        }

        /*****cartes activités******/

        #activites {
            padding: 2% 0% 3% 0%;
        }

        .conteneur-activites {
            flex-direction: column;
            align-items: center;
        }

        #activites .section-titre {          
            max-width: 100%;
            justify-content: center;
            display: flex;
        }

        .carte-activites {
            width: 315px;
            height: 190px;
            margin-bottom: 7%;
        }

        a .carte-activites h3 {
            margin-top: 4%;
            height: 54px;
        }
        
        .carte-activites img {
            max-height: 136px;
        }

        /*******footer*******/
        .footer{
            flex-direction: column;
            margin-left: 0px;
            padding-top: 4%;
        }

        .pied-de-page {
            width: auto;
            padding-left: 9.5%;
        }

        .footer h3 {
            padding-bottom: 10px;
        }

        .pied-de-page a {
            padding: 5px 0px 8px 0px;
        }

    }