/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.conteneur-principal {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*********header***********/
.header {
    height: 79px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ; 
    /**  flex-wrap: wrap;  tentative RATEE pour que le menu ne se superpose pas au logo
    lorsqu'on réduit la fenêtre **/
}

.logo { 
    width: 62px;
    height: 19px;    
}

.menu {
    height: 35px;
    width: 220px;
    column-gap: 68px;
    display: inline;
    font-size: 16px;
    font-weight: 400;
}

.menu a {
    text-decoration: none;
    color: black; 
}

.menu :hover a { /**fallait mettre hover après menu et avant a **/
    color: var(--main-color); /*j'ai réutilisé un élément déjà donné dans le code*/
}

.section-titre {
    margin: 0;
    font-size: 22px;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.etoile-neutre {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cartes .carte {
    display: flex;
    margin-top: 33px;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
}

.populaires-cartes .carte-evaluation {
    margin-bottom: 5px;
}


/*************footer****************/

.footer {
    background-color: #F2F2F2;
    max-width: 1340px;
    height: 163px;
    display: flex;
    /** avec ces 4 caractéristiques le footer est ressemblant sur la version desktop 
    mais ça s'entasse quand on réduit l'écran donc à modifier/compléter pour les autres formats**/
}
.footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.pied-de-page {
    width: 446px;
    gap: 15px;
    padding: 20px;
       
}

.pied-de-page a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height: 19px;
    padding: 5px 0px 5px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes .carte {
        width: 30%;
    }

    .populaires-cartes .carte-titre {
        font-size: 14px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}