/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/**.fa-solid {
    color: var(--main-color);
    } supprimé pour pouvoir avoir la loupe en blanc, remplacé par .couleur **/

.couleur {
    color: #0065FC;
}

body, .header, #filtres, .hebergements-et-populaires, .hebergements-cartes, .populaires-cartes, .populaires-titre, #activites, .conteneur-activites, .footer {
    display: flex;
}
body {
    justify-content: center;
}

.conteneur-principal {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}


/*********header***********/
.header {
    height: 79px;
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    width: 62px;
    height: 19px;
    margin: 15px;
}

.header .menu nav ul {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    padding-bottom: 5px;
}

.menu ul{
    margin: 0px;
    display: flex;
}
.menu li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

.menu li :hover {
    color: #0065fc;
    border-top: 2px solid #0065FC;
    padding-top: 13px;
}

/****** marge ajoutée pour alignement sur le logo******/
main {
    margin-left: 10px;
}

/********* Presentation et recherches **********/

h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

h1+p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.presentation {
    margin-bottom: 25px;
}

.section-titre {
    margin: 0;
    font-size: 22px;
}

/*****partie filtres*****/
#filtres {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
}

.titre-filtres {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
}

.filtre {
    height: fit-content;
    width: fit-content;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 19px 4px 19px;
    margin: 0px 5px 0px 5px;
    display: inline-flex;
    align-items: center;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.filtre i {
    width: 22px;
    height: 22px;
    padding: 5px 8px 0px 0px;
    color: #0065FC;
}

.filtre i+p {
    display: inline-block;
}

/*****partie formulaire*****/
.formulaire-de-recherche {
    width: 390px;
    height: 49px;
    display: inline-flex;
}

.icone-position {
    border-radius: 15px 0px 0px 15px;
    background-color: #D9D9D9;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icone-position i {
    color: black;
    font-size: 18px;
}

input {
    border: 1px #D9D9D9 solid;
    height: 47px;
    width: 190px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

button {
    font-size: 18px;
    font-weight: 700;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    padding: 15px;
    padding-top: 13px;
    min-width: 49px;
}

#loupe, #rechercher {
    color: white;
}

#loupe {
    display: none;
    border-radius: 15px;
}

/*****phrase d'information sous le formulaire*****/
.phrase-information {
    font-weight: 400;
    font-size: 16px;
    display: inline-flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-content: center;
}

.i-info {
    width: 24px;
    height: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    text-align: center;
}

.i-info i {
    color: #0065FC;
}

.phrase-information p {
    line-height: 24px;
    padding-left: 8px;
}

/*****presentation generale des cartes des hotels*****/
.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
    font-weight: 700;
    padding-left: 7px;
}

.carte-sous-titre {
    font-size: 14px;
    font-weight: 400;
    padding-top: 6px;
    padding-left: 8px;
}

.euro {
    font-weight: 700;
}

.etoile-neutre {
    color: var(--main-bg-color)
}

.section-titre {
    font-size: 22px;
    font-weight: 700;
}

/****** Hebergements et Populaires (repartition sur la page, sauf mobile)***********/
.hebergements-et-populaires {
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cartes .carte {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    height: 200px;
    width: 230px;
}

.hebergements-cartes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cartes img {
    height: 56%;
    border: 5px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cartes .carte-contenu {
    width: 217px;
    height: 44%;
    box-sizing: border-box;
    padding-left: 7px;
    margin-top: 8px;
}

.hebergements-cartes .carte-evaluation {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 12px;
    padding-left: 7px;
    color: #0065FC;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 15px;
    padding-top: 24px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cartes {
    flex-direction: column;
}

.populaires-titre {
    justify-content: space-between;
    align-items: center;
}

.populaires-titre i {
    color: #0065FC;
}

.populaires-cartes .carte {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
}

.populaires-cartes .carte-evaluation {
    margin-bottom: 5px;
    padding-left: 7px;
    color: #0065FC;
}

/*************activités****************/
#activites {
    padding: 30px;
    flex-wrap: wrap;
}

.conteneur-activites {
    gap: 2.2%;
}

#activites .section-titre {
    margin-bottom: 15px;
}

.carte-activites {
    background-color: white;
    border-radius: 20px;
    height: 439px;
    width: 284px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.carte-activites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}

a .carte-activites h3 {
    height: 15%;
    margin-top: 3px;
    padding-left: 16px;
    padding-top: 12px;
}

/*************footer****************/

.footer {
    background-color: #F2F2F2;
    margin-left: 10px;
    flex-wrap: wrap;
    width: inherit;
}

.footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.pied-de-page {
    width: 27%;
    padding: 20px;
    margin-right: 1%;
}

.pied-de-page a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .titre-filtres{
        margin-bottom: 0.5%;
        margin-right: 22%;
    }
    .filtre{
        margin-left: 0px;
        margin-top: 2%;
    }
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cartes .carte {
        width: 235px;
        height: 192px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes .carte {
        width: 261px;
        height: 136px;
    }

    .populaires-cartes .carte-titre {
        font-size: 14px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 13px;
    }

    /*zone des cartes activités*/

    .carte-activites{
        width: 199px;
        height: 274px;
    }

    a .carte-activites h3 {
        padding-top: inherit;
        padding-left: 14px;
        font-size: inherit;
        line-height: 15px;
        
    }
}

    /* Small devices (phones, less than 768px) */
    @media screen and (min-width:320px) and (max-width: 767px) {
        .conteneur-principal{
            padding: 0%;
        }
        main {
            margin-left: 0px;
        }

        .header{
            height: 119px;
        }
        .logo {
            width: 100%;
            height: 79px;
        }
        .logo img{
            margin-left: 40%;
            padding-left: 6%;
        }
        nav {
            width: 100%;
            height: 40px;
        }
        .menu ul {
            height: 100%;
            width: 100%;
        }
        .menu li {
            display: table-cell; /*permet de supprimer l'espace entre les border*/
            max-width: 50%;
            min-width: 50%;
            margin: 0;
            text-align: center;
            border-bottom: 2px solid #F2F2F2;
        }
  
        .menu li :hover {
            color: #0065fc;
            border-bottom: 2px solid #0065FC;
            padding-bottom: 18px;
            border-top: none;
            margin-left: -28%;
            margin-right: -25%;
            padding-left: 43%;
            padding-right: 43%;
        }

        /*présentation*/ 

        .presentation{
            margin-top:16px;
        }
        .presentation-et-recherche{
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 8px;
        }
            .presentation h1{
            padding-bottom: 7px;            
        }

        /*barre de recherche*/

        input {
            position: absolute;
            margin-left: 50px;
            width: 200px;
            height: 48px;
        }
        #rechercher{
            display: none;
        }
        #loupe {
            display: block;
            margin-left: 194px;
            position: relative;
            box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
        }

        /*zone filtres*/

        .titre-filtres{
            margin-top: inherit;
        }
        .grille-filtres{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .i-info{
            display: block;
            block-size: 24px;
            padding: 2px;
        }
        .filtre{
            width: 120px;
            height: 30px;
            margin-bottom: 15px;
            font-size: 14px;
        }
        .phrase-information {
            margin-top: 1em;
            margin-bottom: -20px;
        }
        /*hebergements et populaires*/
        .hebergements-et-populaires{
            flex-direction: column-reverse;
        }
        .populaires-titre {
            justify-content: center;
        }
        .populaires-titre .section-titre {
            margin-left: 4%;
            margin-right: 13%;
        }

        .populaires-cartes{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .populaires-cartes .carte{
            width: 285px;
        }
        .hebergements-et-populaires section {
            border-radius: unset;
        }
        #marseille {
            background-color: white;
        }
        #marseille .section-titre {
            display: flex;
            justify-content: center;
        }

        .hebergements-cartes {
            flex-direction: column;
            align-content: center;
        }
        .hebergements-cartes .carte {
            max-width: 320px;
            max-height: 200px;
        }

        #marseille .afficher-plus {
            display: flex;
            justify-content: flex-start;
            padding-left: 33%;
        }

        /*cartes activités*/
        #activites {
            flex-direction: column;
        }
        .conteneur-activites {
            flex-direction: column;
        }
        .carte-activites {
            width: 315px;
            height: 200px;
        }
        a .carte-activites h3 {
            margin-top: 2px;
        }

        /*footer*/
        .footer{
            flex-direction: column;
            margin-left: 0px;
        }
        .pied-de-page {
            width: auto;
        }
        .footer h3 {
            padding-bottom: 10px;
        }
        .pied-de-page a {
            padding: 5px 0px 8px 0px;
        }

    }