/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.conteneur-principal {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}


a{
    color: black;
    text-decoration: none;
}
/*********header***********/
.header {
    height: 79px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ; 
    flex-wrap: wrap;
}

.logo img { 
    width: 62px;
    height: 19px;
    margin: 15px 15px 15px 10px
}

.header .menu nav li{
    font-size: 16px;
    font-weight: 400;
    /*margin: 10px;**/
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.menu nav li {
    list-style: none;
    display: inline-flex;
    /**padding: 15px 15px 15px 15px ;**/
}

.menu nav :hover li a { /**fallait mettre hover après menu et avant a **/
    color: #0065fc; 
    border-bottom: 2px solid #0065FC ; 
} 
 /**¨PROBLEME A RESOUDRE: les 2 mots sont soulignés et bleus en même temps**/


/****** marge ajoutée pour alignement sur le logo******/
main {
    margin-left: 10px;
}
/********* Presentation et recherches **********/

/**pour h1 et p repris le code donné sur la maquette**/
h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

h1+p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.presentation {
    margin-bottom: 25px;
}

.section-titre {
    margin: 0;
    font-size: 22px;
}
        /*****partie filtres*****/
        /*****partie filtres*****/
#filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
}

.titre-filtres {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    align-self: center;
}

.filtre {
    height: fit-content;
    width: fit-content;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 19px 4px 19px;
    margin: 0px 5px 0px 5px;
    display: inline-flex;
    align-items: center;
}


.filtre:hover{
    background-color: #DEEBFF;
}


.filtre i{
    width: 22px;
    height: 22px;
    padding: 5px 8px 0px 0px;
}

.filtre i+p {
    display: inline-block;
}
        /*****partie formulaire*****/
.formulaire-de-recherche {
    width: 377px;
    height: 49px;
    display: inline-flex;
}
.icone-position {
        border-radius: 15px 0px 0px 15px;
        background-color: #D9D9D9;
        height: 49px;
        display: inline-flex;
        width: 50px;
        justify-content: center;
        align-items: center;
}

.icone-position i {
    color: black;
    font-size: 18px;

}
input {
    border: 1px #D9D9D9 solid;
    height: 47px;
    width: 195px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}
button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    padding: 15px 16px 15px 16px;
    min-width: 49px;
}
        /*****phrase d'information sous le formulaire*****/
        /*****partie formulaire*****/
.formulaire-de-recherche {
    width: 377px;
    height: 49px;
    display: inline-flex;
}
.icone-position {
        border-radius: 15px 0px 0px 15px;
        background-color: #D9D9D9;
        height: 49px;
        display: inline-flex;
        width: 50px;
        justify-content: center;
        align-items: center;
}

.icone-position i {
    color: black;
    font-size: 18px;

}
input {
    border: 1px #D9D9D9 solid;
    height: 47px;
    width: 195px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}
button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    padding: 15px 16px 15px 16px;
    min-width: 49px;
}
        /*****phrase d'information sous le formulaire*****/
.phrase-information{
    font-weight: 400;
    font-size: 16px;
    display: inline-flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-content: center;
}


.i-info{
    width: 24px;
    height: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 50px;
    display: table-cell;
    min-width: 24px;
    text-align: center;
}

.phrase-information p{
    line-height: 24px;
    padding-left: 8px;
}
        /*****presentation generale des cartes des hotels*****/
.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.etoile-neutre {
    color: var(--main-bg-color)
}
.section-titre {
    font-size: 22px;
    font-weight: 700;
}
/****** Hebergements et Populaires (repartition sur la page, sauf mobile)***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cartes .carte{
    display: flex;
    margin-top: 33px;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
}

.populaires-cartes .carte-evaluation {
    margin-bottom: 5px;
}


/*************footer****************/

.footer {
    background-color: #F2F2F2;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}


.footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.pied-de-page {
    width: 27%;
    padding: 20px;
    margin-right: 1%;
       
}

.pied-de-page a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height: 19px;
    padding: 5px 0px 5px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes .carte {
        width: 30%;
    }

    .populaires-cartes .carte-titre {
        font-size: 14px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}